{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title>Document</title>
</head>
<body>
    <main class="flex justify-center">
        <section class="h-screen flex gap-1 p-1 m-auto">
            {% for product in products %}
                <div class="box-content border-1 p-5 border-gray-400 rounded-md h-[20em] flex flex-col justify-around">
                    <img class="h-[250px] w-[250px] object-contain" src="{{ product.image }}" alt="{{ product.title }} image">
                    <p class="font-black">{{ product.title }}</p>
                    <p class="font-black text-green-700 text-lg">$ {{ product.price }}</p>
                </div>
            {% endfor %}
        </section>
    </main>
</body>
</html>