{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title>Document</title>
</head>
<body>
    <main class="p-1">
        <form class="max-w-[1224px] w-[100%] m-auto border-1 border-gray-400 rounded-md mb-1 p-2 flex justify-around">
            <input class="w-[90%] p-2 outline-1 outline-blue-500 rounded-md focus:outline-2 focus:outline-blue-400"
             type="search" placeholder="Search for products" name="item_name" id="">
            <button class="bg-green-700 text-white px-4 rounded-md font-bold cursor-pointer" type="submit">Search</button>
        </form>
        <section class="max-w-[1224px] m-auto">
            <div class="w-[100%] flex flex-wrap justify-between">
                {% for product in products %}
                    <div class="box-content border-1 p-5 border-gray-400 rounded-md h-[20em] flex flex-col justify-around">
                        <img class="h-[250px] w-[250px] object-contain" src="{{ product.image }}" alt="{{ product.title }} image">
                        <p class="font-black">{{ product.title }}</p>
                        <p class="font-black text-green-700 text-lg">$ {{ product.price }}</p>
                        <div>
                            <a href="/{{ product.id }}">View</a>
                            <a href="#">Add to cart</a>  
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div>
                <ul>
                    {% if products.has_previous %}
                        <li><a href="?page={{ products.previous_page_number }}">Previous</a></li>
                    {% endif %}

                    <li>
                        <a href="?page={{ products.number }}">Current</a>
                    </li>

                    {% if products.has_next %}
                        <li><a href="?page={{ products.next_page_number }}">Next</a></li>
                    {% endif %}
                </ul>
            </div>
        </section>
    </main>
</body>
</html>